<% include partials/header %>
    <div class="singUpForm">
        <form>
            <p>Registration</p>
            <label for="username">
                Username
                <input type="text" name="username">
            </label>
            <label for="password">
                Password
                <input type="password" name="password">
            </label>
            <label for="password2">
                Confirm password
                <input type="password" name="password2" disabled>
            </label>
            <label for="email">
                email
                <input type="email" name="email">
            </label>
            <label for="submit">
                <input type="submit">
            </label>
            <span class="errors"></span>
        </form>
    </div>
<% include partials/footer %>